<ArrayOfUIElementData>

  <!-- Login -->
  <UIElementData>
    <Name>Login</Name>
    <Anchor>
      <Type>Locator</Type>
      <LocatorId>Front</LocatorId>
      <ContentId>Model3</ContentId>
    </Anchor>
    <Type>Panel</Type>
    <Children>

      <!-- Caption -->
      <UIElementData>
        <Name>Caption</Name>
        <Type>Caption</Type>
        <Width>950</Width>
        <Text>Please scan the [b][color=VColor.Highlight]QR code[/color][/b] provided by the bridge application to login.</Text>
        <Speak>true</Speak>
        <TextAnchor>LowerCenter</TextAnchor>
        <Action>state://Authenticate</Action>
        <Anchor>
          <WorldOffset>
            <y>0.1</y>
          </WorldOffset>
        </Anchor>
      </UIElementData>

      <!-- Bypass -->
      <UIElementData>
        <Name>Bypass</Name>
        <Type>Button</Type>
        <EditorOnly>true</EditorOnly>
        <Button>
          <Caption>Bypass</Caption>
          <ImageId>Key</ImageId>
          <Highlight>true</Highlight>
        </Button>
        <Action>Login/Bypass</Action>
      </UIElementData>

    </Children>
  </UIElementData>

  <!-- Home -->
  <UIElementData>
    <Name>Home</Name>
    <Type>Menu</Type>
    <Anchor>
      <Type>ContextMenu</Type>
    </Anchor>

    <Back>
      <Button>
        <ImageId>Back</ImageId>
      </Button>
      <Action>Home/Back</Action>
    </Back>

    <Children>

      <!-- Modules -->
      <UIElementData>
        <Name>Modules</Name>
        <Type>Button</Type>
        <Button>
          <Caption>Modules</Caption>
          <ImageId>Modules</ImageId>
        </Button>
        <Action>state://Modules</Action>
      </UIElementData>

      <!-- Explore -->
      <UIElementData>
        <Name>Map</Name>
        <Type>Button</Type>
        <Button>
          <Caption>Map</Caption>
          <ImageId>Map</ImageId>
        </Button>
        <Action>state://Explore</Action>
      </UIElementData> 

      <!-- Options -->
      <UIElementData>
        <Name>Options</Name>
        <Button>
          <Caption>Options</Caption>
          <ImageId>Setup</ImageId>
        </Button>
        <Action>state://Options</Action>
      </UIElementData>

    </Children>
  </UIElementData>

  <!-- Options -->
  <UIElementData>
    <Name>Options</Name>
    <Type>Menu</Type>
    <Anchor>
      <Type>ContextMenu</Type>
    </Anchor>
    <Back>
      <Button>
        <ImageId>Back</ImageId>
      </Button>
      <Action>Options/Back</Action>
    </Back>
  </UIElementData>

  <!-- Instruction -->
  <UIElementData>
    <Name>Instruction</Name>
    <Anchor>
      <Type>SAI</Type>
    </Anchor>
  </UIElementData>

  <!-- Debug -->
  <UIElementData>
    <Name>Debug</Name>
    <Type>Menu</Type>
    <Anchor>
      <Type>ContextMenu</Type>
    </Anchor>
  </UIElementData>

</ArrayOfUIElementData>